*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body{
    font-family: 'Opens Sans', sans-serif;
}

button{
    cursor: pointer;
    border: 0;
}

a{
    text-decoration: none;
}

